.avatarContainer {
  position: relative;
  width: 30px;
  height: 30px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.statusDot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.online {
  background-color: var(--color-success);
}

.offline {
  background-color: var(--color-grey-4);
}